@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fafafb;
  --body-font: "Poppins", sans-serif;
  --body-color: #2f2f33;
  --active-color: #0162ff;
  --active-light-color: #e1ebfb;
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --alert-bg-color: #e8f2ff;
  --subtitle-color: #83838e;
  --inactive-color: #f0f0f0;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: #5052d5;
  --button-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: #666666;
  background-color: #F6F7FC;
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  right: 0;
  left: 0;
  top: 20px;
  z-index: 3;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-nav{
  display: flex;
  flex-basis: auto;
  align-items: center;
}

.container {
  max-width: 1140px;
}

.container.nav{
  display:flex ;
  justify-content: space-between;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  position: relative;
}

.navbar-brand span{
  color: rgba(255, 255, 255, 0.4);
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 12px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 1 !important;
}

.nav-item.active > .nav-link{
  color: #b8b0b0;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #b8b0b0;
}

.hero-wrap .forth .text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  transform: translateY(-50%);
  color: #fff;
  z-index: 1;
}

.hero-wrap .forth .text .subheading {
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.hero-wrap .forth .text h1 {
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}

.hero-wrap .forth .text h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}

.hero-wrap .forth .text .btn-custom {
  position: relative;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  z-index: 0;
  letter-spacing: 1px;
  font-weight: 500;
}

.hero-wrap .forth {
  width: 40%;
  background: #b8b0b0;
}

.on-hov{
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.on-hov:hover:after {
  position: absolute;
  top: 0;
  right: -40px !important;
  bottom: 0;
  content: '';
  width: 140% !important;
  background: #e9630c !important;
  z-index: -1;
}

.hero-wrap .forth .text .btn-custom:before {
  position: absolute;
  top: 50%;
  right: -30px;
  width: 30px;
  height: 2px;
  content: '';
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
}

.hero-wrap .forth .text .btn-custom:after {
  position: absolute;
  top: 0;
  right: -40px;
  bottom: 0;
  content: '';
  width: 100%;
  background: #aea5a5;
  z-index: -1;
}

.hero-wrap .third {
  width: 60%;
  position: relative;
}

.nav-item.btn{
  
  background-color:#e9630c;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-item.btn > .nav-link:hover{
  color: #fff !important;
  background-color: #e9630c;
}


.remgister{
  background-color:#e9630c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  text-transform: uppercase;
  font-size: 12px;
}

.login-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: fixed;
  max-width: 38vw;
  left: 0;
  top: 0;
}

.signup-page{
  width: 100vw;
  height: 100vh;
}
.auth-container{
  background-color: transparent;
  margin-left: 35vw;
  padding-top: 80px;
  padding-left: 8%;
  padding-right: 8%;
  width: 65%;
}

.field-container input {
  width: 100%;
  display: block;
  height: 60px;
  border: 0px solid #e6e6e6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
  padding: 19px 15px;
}

.field-container input[type="radio"] {
  width: 18px;
  display: block;
  height: 22px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
  padding: 10px;
  box-shadow: none;

}

.nav-button{
  position: relative;
  margin-top: 45px;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: #e9630c;
  font-weight: 400;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 12px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
}


.submit-button.job {
  position: relative;
  margin-top: 45px;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: #e9630c;
  font-size: 12px;
  font-weight: 400;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 0;
  outline: 0;
  text-transform: uppercase;
}






.field-container textarea {
  width: 100%;
  display: block;
  border: 0px solid #e6e6e6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
  padding: 19px 15px;
}

.auth-container h1 {
  font-size: 36px;
  letter-spacing: 1px;
  font-weight: 200;
  padding-top: 15px;
  line-height: 40px;
  min-width: 300px;
  margin-bottom: 20px;
}

.auth-container h1 b {
  font-size: 22px !important;
  color: #333333;
  display: block;
  font-weight: 700;
}
 .auth-container form {
  margin-top: 33px;
}

.switch-container p span {
  font-weight: 700;
  color: #e9630c;
  cursor: pointer;
}

.switch-container {
  margin-top: 25px;
  text-align: center;
}

.switch-container p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e7e;
}

.submit-button {
  position: relative;
  margin-top: 45px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #e9630c;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 0;
  outline: 0;
}

.field-container {
  margin-top: 25px;
  width: 100%;
}

.field-container #signUp-email-input {
  width: 100%;
}

.field-label {
  display: block;
  opacity: .8;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}

.about-img, .user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.add-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: #ffa365 !important; 
  padding: 4px;
  margin-top:  20px;

}


input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

/* Style the checkbox when checked */
input[type="checkbox"]:checked {
  background-color: rgb(84, 232, 84); /* Change background color when checked */
  border-color: rgb(84, 232, 84); /* Change border color when checked */
}

/* Style the checkbox label */
.checkbox-label {
  margin-left: 5px;
  font-size: 10px;
}


#tags {
  width: 100%;
  margin: 50px auto;
  margin-top: 8px;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  min-height: 60px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

#tags .ReactTags__tags {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 5px 10px;
  min-height: 60px;
}

#tags .ReactTags__selected {
  display: flex;
}

#tags .ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

#tags .ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;

}

#tags .ReactTags__tagInput input.ReactTags__tagInputField, #tags .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  min-width: 150px;
  color: #000 !important;
  padding: 0px 10px;
}

#tags .ReactTags__editInput {
  border-radius: 1px;
  
}

#tags .ReactTags__editTagInput {
  display: inline-flex;
}

#tags .ReactTags__selected span.ReactTags__tag {
 box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background: green;
  color: white;
  font-size: 12px;
  display: flex;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

#tags .ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

#tags .ReactTags__suggestions {
  position: absolute;
}

#tags .ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

#tags .ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

#tags .ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

#tags .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

#tags .ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  margin-left: 5px;
}

#tags input {
  background-color: transparent;
  border: none;
  outline: none;
}

#tags input:before {
  border: none;
}


@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


}




.field-container input {
  color: #333333 !important;
}



.temxt {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b8b0b0;
}

.temxt span {
  text-transform: uppercase;
  display: block; 
}

.text1 {
  color: white;
  transform: translateY(-90px);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;

  position: relative;
/*   shorthand animation property: name | duration | iteration count */
/*   animation: text 4s 1; */
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
  100% {
    margin-bottom: 20px;
  }
}



.comtainer {
	height: 100vh;
  width: 100vw;
	padding: 0;
	margin: 0;
  background: linear-gradient(33deg, #f5f7fa 0%, #c3cfe2 100%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.comtainer.start {
	height: 100vh;
  width: 100vw;
	padding: 0;
	margin: 0;
  background: linear-gradient(33deg, #f5f7fa 0%, #c3cfe2 100%);
	display: flex;
	align-items: start;
  padding-top: 100px;
	justify-content: center;
}

h1 {
	font-size: 32px;
	font-weight: 600;
	color: #000;
	margin-bottom: 42px;
	position: relative;
	padding-bottom: 20px;
}
h1:after {
	content: "";
	width: 140px;
	height: 4px;
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	border-radius: 6px;
}
code {
	color: red;
}

.plugin-setting-list-2 li{
  margin-bottom: 24px;
  font-size: 16px;
  transition: color .3s;
  color: #000;
  font-weight: 400;
}
.plugin-setting-list li {
	position: relative;
	padding-left: 30px;
	font-size: 16px;
	color: #000000;
	list-style-type: none;
	margin-bottom: 15px;
}
.plugin-setting-list li:before {
	content: "";
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E");
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #3cb371;
	border-radius: 100%;
}

/* Plugin Style Start */
.kwt-file {
	max-width: 380px;
	margin: 0 auto;
}
.kwt-file__drop-area {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 25px;
	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
	transition: 0.3s;
}
.kwt-file__drop-area.is-active {
	background-color: #d1def0;
}
.kwt-file__choose-file {
	flex-shrink: 0;
	background-color: #1d3557;
	border-radius: 100%;
	margin-right: 10px;
	color: #ffffff;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.kwt-file__choose-file.kwt-file_btn-text {
	border-radius: 4px;
	width: auto;
	height: auto;
	padding: 10px 20px;
	font-size: 14px;
}
.kwt-file__choose-file svg {
	width: 24px;
	height: 24px;
	display: block;
}
.kwt-file__msg {
	color: #1d3557;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.kwt-file__input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
}
.kwt-file__input:focus {
	outline: none;
}
.kwt-file__delete {
	display: none;
	position: absolute;
	right: 10px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
.kwt-file__delete:before {
	content: "";
	position: absolute;
	left: 0;
	transition: 0.3s;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%231d3557' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 438.5 438.5'%3e%3cpath d='M417.7 75.7A8.9 8.9 0 00411 73H323l-20-47.7c-2.8-7-8-13-15.4-18S272.5 0 264.9 0h-91.3C166 0 158.5 2.5 151 7.4c-7.4 5-12.5 11-15.4 18l-20 47.7H27.4a9 9 0 00-6.6 2.6 9 9 0 00-2.5 6.5v18.3c0 2.7.8 4.8 2.5 6.6a8.9 8.9 0 006.6 2.5h27.4v271.8c0 15.8 4.5 29.3 13.4 40.4a40.2 40.2 0 0032.3 16.7H338c12.6 0 23.4-5.7 32.3-17.2a64.8 64.8 0 0013.4-41V109.6h27.4c2.7 0 4.9-.8 6.6-2.5a8.9 8.9 0 002.6-6.6V82.2a9 9 0 00-2.6-6.5zm-248.4-36a8 8 0 014.9-3.2h90.5a8 8 0 014.8 3.2L283.2 73H155.3l14-33.4zm177.9 340.6a32.4 32.4 0 01-6.2 19.3c-1.4 1.6-2.4 2.4-3 2.4H100.5c-.6 0-1.6-.8-3-2.4a32.5 32.5 0 01-6.1-19.3V109.6h255.8v270.7z'/%3e%3cpath d='M137 347.2h18.3c2.7 0 4.9-.9 6.6-2.6a9 9 0 002.5-6.6V173.6a9 9 0 00-2.5-6.6 8.9 8.9 0 00-6.6-2.6H137c-2.6 0-4.8.9-6.5 2.6a8.9 8.9 0 00-2.6 6.6V338c0 2.7.9 4.9 2.6 6.6a8.9 8.9 0 006.5 2.6zM210.1 347.2h18.3a8.9 8.9 0 009.1-9.1V173.5c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a8.9 8.9 0 00-9.1 9.1V338a8.9 8.9 0 009.1 9.1zM283.2 347.2h18.3c2.7 0 4.8-.9 6.6-2.6a8.9 8.9 0 002.5-6.6V173.6c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a9 9 0 00-6.6 2.6 8.9 8.9 0 00-2.5 6.6V338a9 9 0 002.5 6.6 9 9 0 006.6 2.6z'/%3e%3c/svg%3e");
}
.kwt-file__delete:after {
	content: "";
	position: absolute;
	opacity: 0;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) scale(0);
	background-color: #1d3557;
	border-radius: 50%;
	transition: 0.3s;
}
.kwt-file__delete:hover:after {
	transform: translate(-50%, -50%) scale(2.2);
	opacity: 0.1;
}


.demo1{
  background-color: white;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
/* Plugin Style End */






.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #13131a;
  --header-bg-color: #1c1c24;
  --alert-bg-color: #292932;
  --body-color: #fff;
  --inactive-color: #292932;
  --time-button: #fff;
  --level-button: #fff;
  --active-light-color: #263d63;
  --border-color: #26262f;
  --search-border-color: #26262f;
}

::-moz-placeholder {
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

::placeholder {
  color: var(--placeholder-color);
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  font-size: 15px;
}

.dark-light svg {
  margin-right: 8px;
  width: 22px;
  cursor: pointer;
  fill: transparent;
  transition: 0.5s;
}

.dark-mode .dark-light svg {
  fill: #ffce45;
  stroke: #ffce45;
}
.dark-mode .job-card svg {
  box-shadow: none;
}
.dark-mode .search.item {
  color: var(--body-color);
  border-color: var(--body-color);
}
.dark-mode .search-location svg,
.dark-mode .search-job svg,
.dark-mode .search-salary svg {
  color: var(--body-color);
}
.dark-mode .detail-button {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}

.job {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--theme-bg-color);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.logo svg {
  width: 24px;
  margin-right: 12px;
}

.header {
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  flex-shrink: 0;
  padding: 0 40px;
  white-space: nowrap;
  background-color: var(--header-bg-color);
  height: 60px;
  width: 100%;
  font-size: 14px;
  justify-content: space-between;
}
.header-menu a {
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
}
.header-menu a:hover {
  color: var(--active-color);
}
.header-menu a:not(:first-child) {
  margin-left: 30px;
}
.header-menu a.active {
  color: var(--active-color);
}

.user-settings {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.user-settings svg {
  width: 20px;
  color: #94949f;
}

.user-menu {
  position: relative;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 2px solid #d6d6db;
}
.user-menu:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--header-bg-color);
  right: 6px;
  top: -1px;
  background-color: var(--active-color);
}

.user-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scroll-behavior: smooth;
  padding: 30px 40px;
  overflow: auto;
}

.search-menu {
  height: 56px;
  white-space: nowrap;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  width: 100%;
  padding-left: 20px;
}
.search-menu div:not(:last-of-type) {
  border-right: 1px solid var(--search-border-color);
}

.search-bar {
  height: 55px;
  width: 100%;
  position: relative;
}
.search-bar input {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%230162ff'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 0 50%;
  padding: 0 25px 0 305px;
}

.search-location,
.search-job,
.search-salary {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 14px;
  font-weight: 500;
  padding: 0 25px;
  height: 100%;
}
.search-location input,
.search-job input,
.search-salary input {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
}
.search-location svg,
.search-job svg,
.search-salary svg {
  margin-right: 8px;
  width: 18px;
  color: var(--active-color);
  flex-shrink: 0;
}

.search-button {
  background-color: var(--active-color);
  height: 55px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 0 8px 8px 0;
  color: var(--button-color);
  cursor: pointer;
  margin-left: auto;
}

.search.item {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 13px;
  color: var(--active-color);
  border: 1px solid var(--search-border-color);
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.search.item svg {
  width: 12px;
  margin-left: 5px;
}
.search.item:last-child {
  left: 185px;
}

.main-container {
  display: flex;
  flex-grow: 1;
  padding-top: 30px;
}

.search-type {
  width: 270px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
}

.alert {
  background-color: var(--alert-bg-color);
  padding: 24px 18px;
  border-radius: 8px;
}
.alert-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.alert-subtitle {
  font-size: 13px;
  color: var(--subtitle-color);
  line-height: 1.6em;
  margin-bottom: 20px;
}
.alert input {
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 6px;
  background-color: var(--header-bg-color);
  border: none;
  font-size: 13px;
}

.search-buttons {
  border: none;
  color: var(--button-color);
  background-color: var(--active-color);
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
}

.job-wrapper {
  padding-top: 20px;
}

.job-time {
  padding-top: 20px;
}
.job-time-title {
  font-size: 14px;
  font-weight: 500;
}

.type-container {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 13px;
}
.type-container label {
  margin-left: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.type-container + .type-container {
  margin-top: 10px;
}

.job-number {
  margin-left: auto;
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
}

.job-style {
  display: none;
}

.job-style + label:before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--subtitle-color);
  border-radius: 4px;
  cursor: pointer;
}

.job-style:checked + label:before {
  background-color: var(--active-color);
  border-color: var(--active-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  background-position: 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}

.job-style:checked + label + span {
  background-color: var(--active-light-color);
  color: var(--active-color);
}

.searched-jobs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 40px;
}

@-webkit-keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
}

@keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
}
.searched-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-animation: slideY 0.6s both;
          animation: slideY 0.6s both;
}
.searched-show {
  font-size: 19px;
  font-weight: 600;
}
.searched-sort {
  font-size: 14px;
  color: var(--subtitle-color);
}
.searched-sort .post-time {
  font-weight: 600;
  color: var(--subtitle-color);
}
.searched-sort .menu-icon {
  font-size: 9px;
  color: var(--placeholder-color);
  margin-left: 6px;
}

.job-cards {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -webkit-animation: slideY 0.6s both;
          animation: slideY 0.6s both;
}
@media screen and (max-width: 1212px) {
  .job-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 930px) {
  .job-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.job-card {
  padding: 20px 16px;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.job-card:hover {
  transform: scale(1.02);
}
.job-card svg {
  width: 46px;
  padding: 10px;
  border-radius: 8px;
}
.job-card-title {
  font-weight: 600;
  margin-top: 16px;
  font-size: 14px;
}
.job-card-subtitle {
  color: var(--subtitle-color);
  font-size: 13px;
  margin-top: 14px;
  line-height: 1.6em;
  height: 60px;
}
.job-card-header {
  display: flex;
  align-items: flex-start;
}

.overview-card:hover {
  background: #2b2ecf;
  transition: none;
  transform: scale(1);
}
.overview-card:hover svg {
  box-shadow: none;
}
.overview-card:hover .job-overview-buttons .search-buttons.time-button,
.overview-card:hover .job-overview-buttons .search-buttons.level-button {
  background-color: #575ad8;
  color: #fff;
}
.overview-card:hover .job-card-title,
.overview-card:hover .job-stat {
  color: #fff;
}
.overview-card:hover .job-card-subtitle,
.overview-card:hover .job-day {
  color: #dedede;
}
.overview-card:hover .overview-wrapper .heart {
  color: #fff;
  border-color: #fff;
}
.overview-card:hover .overview-wrapper .heart:hover {
  fill: red;
  stroke: red;
  transform: scale(1.1);
}

.detail-button {
  background-color: var(--active-light-color);
  color: var(--active-color);
  font-size: 11px;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 4px;
}
.detail-button + .detail-button {
  margin-left: 4px;
}

.job-card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 4px;
}

.card-buttons,
.card-buttons-msg {
  padding: 10px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}

.card-buttons {
  margin-right: 12px;
}
.card-buttons-msg {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}

.menu-dot {
  background-color: var(--placeholder-color);
  box-shadow: -6px 0 0 0 var(--placeholder-color), 6px 0 0 0 var(--placeholder-color);
  width: 4px;
  height: 4px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
}

.header-shadow {
  box-shadow: 0 4px 20px rgba(88, 99, 148, 0.17);
  z-index: 1;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
}
.job-overview {
  display: flex;
  flex-grow: 1;
  display: none;
  -webkit-animation: slide 0.6s both;
          animation: slide 0.6s both;
}
.job-overview-cards {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100%;
  flex-shrink: 0;
}
.job-overview-card + .job-overview-card {
  margin-top: 20px;
}
.job-overview-buttons {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.job-overview-buttons .search-buttons {
  background-color: var(--inactive-color);
  font-size: 11px;
  padding: 6px 8px;
  margin-top: 0;
  font-weight: 500;
}
.job-overview-buttons .search-buttons.time-button {
  color: var(--time-button);
  margin-right: 8px;
}
.job-overview-buttons .search-buttons.level-button {
  color: var(--level-button);
}
.job-overview-buttons .job-stat {
  color: var(--active-color);
  font-size: 12px;
  font-weight: 500;
  margin-left: auto;
}
.job-overview-buttons .job-day {
  color: var(--subtitle-color);
  font-size: 12px;
  margin-left: 8px;
  font-weight: 500;
}
.job-overview .overview-wrapper {
  display: flex;
  align-items: center;
}
.job-overview .overview-wrapper svg:first-child {
  width: 42px;
  margin-right: 10px;
}
.job-overview .overview-wrapper .heart {
  background: none;
  box-shadow: none;
  width: 24px;
  padding: 4px;
  color: var(--subtitle-color);
  border: 1px solid var(--border-color);
  margin-left: auto;
  margin-bottom: auto;
}

.overview-detail .job-card-title,
.overview-detail .job-card-subtitle {
  margin-top: 4px;
}
.overview-detail .job-card-subtitle {
  font-size: 12px;
  font-weight: 500;
}

.job-explain {
  background-color: var(--header-bg-color);
  margin-left: 40px;
  border-radius: 0 0 8px 8px;
}

.job-bg {
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  transition: 0.3s;
  position: relative;
}

.job-logos {
  margin-top: -30px;
  position: relative;
  margin-bottom: -36px;
  padding: 0 20px;
}
.job-logos svg {
  width: 66px;
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
  border: 4px solid var(--header-bg-color);
}

.job-title-wrapper {
  display: flex;
  align-items: center;
}
.job-title-wrapper .job-card-title {
  font-size: 20px;
  margin-top: 0;
  font-weight: 600;
}

.job-action {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.job-action svg {
  width: 32px;
  border: 1px solid var(--border-color);
  color: var(--subtitle-color);
  border-radius: 8px;
  padding: 6px;
}
.job-action svg + svg {
  margin-left: 12px;
}

.job-explain-content {
  padding: 50px 25px 30px;
}

.job-subtitle-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.job-subtitle-wrapper .posted {
  margin-left: auto;
}
.job-subtitle-wrapper .company-name {
  color: var(--active-color);
  font-weight: 600;
  font-size: 14px;
}
.job-subtitle-wrapper .comp-location,
.job-subtitle-wrapper .posted {
  color: var(--subtitle-color);
  font-size: 12px;
  font-weight: 500;
}
.job-subtitle-wrapper .comp-location {
  position: relative;
  margin-left: 10px;
}
.job-subtitle-wrapper .comp-location:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--placeholder-color);
  top: 49%;
  left: -8px;
  position: absolute;
}
.job-subtitle-wrapper .app-number {
  color: var(--body-color);
  position: relative;
  margin-left: 12px;
}
.job-subtitle-wrapper .app-number:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--placeholder-color);
  top: 50%;
  left: -7px;
  position: absolute;
}

.explain-bar {
  margin-top: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  height: 66px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}
.explain-title {
  color: var(--subtitle-color);
  font-size: 12px;
  line-height: 40px;
  white-space: nowrap;
}
.explain-subtitle {
  font-size: 13px;
  font-weight: 500;
  margin-top: -2px;
  white-space: nowrap;
}
.explain-contents {
  height: 66px;
}
.explain-contents + .explain-contents {
  border-left: 1px solid var(--border-color);
  padding-left: 16px;
}

.overview-text {
  margin-top: 30px;
}
.overview-text-header {
  font-weight: 600;
  margin-bottom: 25px;
}
.overview-text-subheader {
  font-size: 13px;
  line-height: 2em;
}
.overview-text-item {
  font-size: 13px;
  position: relative;
  display: flex;
}
.overview-text-item + .overview-text-item {
  margin-top: 20px;
}
.overview-text-item:before {
  content: "";
  border: 2px solid #61bcff;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 8px;
  flex-shrink: 0;
}

.detail-page .job-overview {
  display: flex;
}
.detail-page .job-cards,
.detail-page .searched-bar {
  display: none;
}
@media screen and (max-width: 1300px) {
  .detail-page .search-type {
    display: none;
  }
  .detail-page .searched-jobs {
    padding-left: 0;
  }
}

@media screen and (max-width: 990px) {
  .explain-contents, .explain-bar {
    height: auto;
  }

  .explain-bar {
    flex-wrap: wrap;
    padding-bottom: 14px;
  }

  .explain-contents {
    width: 50%;
  }

  .explain-contents + .explain-contents {
    padding: 0;
    border: 0;
  }

  .explain-contents:nth-child(2) ~ .explain-contents {
    margin-top: 16px;
    border-top: 1px solid var(--border-color);
  }

  .job-subtitle-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .job-subtitle-wrapper .posted {
    margin-left: 0;
    margin-top: 6px;
  }
}
@media screen and (max-width: 930px) {
  .search-job, .search-salary {
    display: none;
  }

  .search-bar {
    width: auto;
  }
}
@media screen and (max-width: 760px) {
  .detail-page .job-overview-cards {
    display: none;
  }

  .user-name {
    display: none;
  }

  .user-profile {
    margin-right: 0;
  }

  .job-explain {
    margin-left: 0;
  }
}
@media screen and (max-width: 730px) {
  .search-type {
    display: none;
  }

  .searched-jobs {
    padding-left: 0;
  }

  .search-menu div:not(:last-of-type) {
    border: 0;
  }

  .job-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-location {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .job-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-menu a:not(:first-child) {
    margin-left: 10px;
  }
}
@media screen and (max-width: 590px) {
  .header-menu {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .search.item {
    display: none;
  }

  .search-bar {
    flex-grow: 1;
  }

  .search-bar input {
    padding: 0 0 0 30px;
  }

  .search-button {
    margin-left: 16px;
  }

  .searched-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .searched-sort {
    margin-top: 5px;
  }

  .main-container {
    padding-top: 20px;
  }
}
@media screen and (max-width: 380px) {
  .explain-contents {
    width: 100%;
    margin: 0;
  }

  .explain-contents:nth-child(2) ~ .explain-contents {
    margin: 0;
    border: 0;
  }

  .wrapper {
    padding: 20px;
  }

  .header {
    padding: 0 20px;
  }
}